/* Primary Colors */
$color-primary: #29a68b;  /* Old version #28666e */
$color-light-green: #1A5C9C; /* Old version #7c9885 */
$color-dark-blue: #033f63;

/* Default Colors */
$color-white: #fff;
$color-light-gray: #dcdcdc;
$color-dark-gray: #8a8a8a;
$color-black: #000;